doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='generator', content='Automated Oxygen Supply System')
    link(rel='manifest', href='manifest.json')
    title FreeO2 | Automated Oxygen Supply System
    style(type='text/css').
      body {
        margin: 0;
      }
      main {
        width: 800px;
        height: 600px;
        background-color: #333;
      }
  body
    main(class='main')
    script(src='vendor.bundle.js')
    script(src='app.bundle.js')
